<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DayZ_Admin_Log_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DayZ_Admin_Log_Tool.Properties.Settings>
            <setting name="FtpHost" serializeAs="String">
                <value>37.59.135.98:8821</value>
            </setting>
            <setting name="FtpUser" serializeAs="String">
                <value />
            </setting>
            <setting name="FtpPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoteExecLogFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerConsoleLogFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedMode" serializeAs="String">
                <value />
            </setting>
            <setting name="FtpRemoteExecLogFilePath" serializeAs="String">
                <value>37.59.135.98_2362/cfgdayz/BattlEye/</value>
            </setting>
            <setting name="SavePassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FtpServerConsoleLogFilePath" serializeAs="String">
                <value>37.59.135.98_2362/cfgdayz/</value>
            </setting>
        </DayZ_Admin_Log_Tool.Properties.Settings>
    </userSettings>
</configuration>